<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div class="container w-50">
<div class="card text-left" style="width: 32rem;text-align:center;">
    <div class="card-body">
      <div class="card-header">
        <h1> Create a new bike </h1>
        <a href="/">RETURN HOME</a>
      </div>
        <form action="http://localhost:8000/create" method="post">
          <div class="mb-3">
            <label for="id" class="form-label">Bike Id</label>
            <input type="number" class="form-control" id="id" name="id" placeholder="Bike Id">
      </div>
       <div class="mb-3">
            <label for="model" class="form-label">Bike Model</label>
            <input type="text" class="form-control" id="model"  name="model" placeholder="Bike Model" required>
      </div>
      <div class="mb-3">
        <label for="brand" class="form-label">Bike Brand</label>
        <input type="text" class="form-control" id="brand"  name="brand" placeholder="Bike Brand" required>
  </div>
       <div class="mb-3">
          <label for="features" class="form-label">features</label>
          <input type="text" class="form-control" id="features"  name="features" placeholder="features" required>
      </div>
      <div class="mb-3">
          <label for="year" class="form-label">Bike Year</label>
          <input type="text" class="form-control" id="year"  name="year"  rows="3" placeholder="Year" required>
      </div>
      <div class="mb-3">
        <label for="size" class="form-label">Bike size</label>
        <input type="text" class="form-control" id="size"  name="size"  rows="3" placeholder="size">
    </div>
    <div class="mb-3">
      <label for="availability" class="form-label">Bike availability</label>
      <input type="text" class="form-control" id="availability"  name="availability"  rows="3" placeholder="availability" required>
  </div>
  <div class="mb-3">
    <label for="Price_day" class="form-label">Price day</label>
    <input type="text" class="form-control" id=Price_day"  name="Price_day"  rows="3" placeholder="Price day" required>
</div>
<div class="mb-3">
  <label for="location1" class="form-label">Bike location latitude</label>
  <input type="number" class="form-control" id="location_latitude"  name="location_latitude"  rows="3" placeholder="location latitude" step="any" required>
</div>
<div class="mb-3">
  <label for="location2" class="form-label">Bike location length</label>
  <input type="number" class="form-control" id="location_length"  name="location_length"  rows="3" placeholder="location length" step="any" required>
</div>
<div class="mb-3">
  <label for="location2" class="form-label">Bike image</label>
  <input type="text" class="form-control" id="image"  name="image"  rows="3" value="default.jpg" required>
</div>



                <input type="submit" class="btn btn-primary"> &nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" class="btn btn-danger">
           </form>
        </div>
    </div>
</div>

</body>
</html>