<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
</head>
<body>
<div class="container" style="text-align:center;">
    <h1>{{ bike.model }} details</h1>
     <hr width="100%"/>
     <a href="/">RETURN HOME</a>
    <div class="card" style="width: 28rem; margin: 0 auto;">
        <img src="/static/images/{{bike.image}}" class="card-img-top" alt="bike_image">
      <div class="card-body">
        <h5 class="card-title">{{bike.model}}</h5>
          <hr>
          <p class="card-text"><b>Brand:</b> {{bike.brand}}</p> 
          <p class="card-text"><b>Size:</b> {{bike.size}}</p>
        <p class="card-text"><b>Availability:</b> {{bike.availability}}</p>
       </div>
    </div>
</div>

</body>
</html>